@import "tailwindcss";

:root {
  --background: #f7f5f2;
  --foreground: #ffffff;
  --header: #7198b5;
  --success: #78a889;
  --error: #e88a9b;
  --warning: #d9b650;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-nunito);
}

body {
  background: var(--background);
  color: #27313a;
  font-family: var(--font-nunito), sans-serif;
}
